.collect-list-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collect-list {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);  */
    /* grid-gap: 12px; */
    /* gap: 12px; */
    height: 100%;
    width: 100%;
    flex-direction: column-reverse;
    
    overflow-y: auto ;
}

.collect-item-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.collect-item {
    display: flex;
    flex-direction: column;
}

.collect-type{
    position: absolute;
    font-size: 14px;
    color: #ababab;
    padding-top: 0px;
    margin: 0px;
    top: 3px;
    left: 12px;
}

.collect-activity {
    font-size: 18px;
    color: #333333;
    padding-top: 0px;
    margin: 0px 20px 0px 20px;
}

.collect-item-content {
    display: flex;
    flex-direction: row;
}

.collect-item-content {
    display: flex;
    flex-direction: row;
}