.collect-list-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collect-list {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);  */
    /* grid-gap: 12px; */
    /* gap: 12px; */
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow-y: auto ;
}

.collect-empty-tip{
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 12px;
    color: white ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.77);
}

.collect-item-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.collect-item {
    display: flex;
    flex-direction: column;
}

.collect-type{
    position: absolute;
    font-size: 16px;
    color: #ababab;
    padding-top: 0px;
    margin: 0px;
    top: 3px;
    left: 12px;
}

.collect-share{
    position: absolute;
    top: 3px;
    right: 12px;
    width: 28px;
    height: 28px;
}

.collect-share:active{
    opacity: 0.6;
}

.collect-activity {
    font-size: 18px;
    color: #333333;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 12px 0px 12px 20px;
}

.collect-item-content {
    display: flex;
    flex-direction: row;
}

.collect-item-detail {
    display: flex;
    flex-direction: row;
}

.collect-detail-item{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.collect-detail-item-title{
    display: flex;
    font-size: 18px;
    color: #636363;
    padding-top: 0px;
    margin: 0px 0px 0px 3px;
}

.collect-detail-item-icon{
    display: flex;
    width: 24px;
    height: 24px;
}