.Generate-Activity-MainContainer{
    width: fit-content;
    flex-direction: column;
    display: flex;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.77);
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
}

.Generate-Activity-Title{
    font-size: 18px;
    line-height: 0px;
}

.Generate-Activity-Input{
    width: 150px;
    height: 30px;
    margin-top: 0px;
}

.Generate-Activity-Select{
    width: 157px;
    height: 35px;
    margin-top: 0px;
}

.Generate-Activity-Get-Container{
    width: 100%;
}

.Generate-Activity-Get{
    width: 90px;
    height: 30px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    background-color: #4d6dde;
    border-radius: 40px;
    border: transparent;
}

.Generate-Activity-Get:active{
    opacity: 0.6;
}

.ContentContainer{

}