.App {
  text-align: center;
  min-height:100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
}

.MainContent{
  flex: 1;
  flex-direction: column;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow-y: scroll;
}

.Params{
  color: #333333;
  font-size: 18px;
}

.ParamsSwitch{
  position: absolute;
  display: flex;
  right: 12px;
  width: fit-content;
  flex-direction: row;
  align-items: center;
}

.Toolbar{
  background-color: #4d6dde;
  height: 55px;
  width: 100%;
  flex-direction: row;
  align-content: center;
}

.ToolbarTitle{
  font-size: 22px;
  color: white;
  width: fit-content;
  left: 12px;
}